/* fonts */
/* colors */
/* base styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}

.row {
  position: relative;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #ffffff;
}

/* mobile */
.container {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  -ms-grid-columns: (minmax(10em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.checkout {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  color: #4e5150;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 2rem 0 1.2rem 1.12rem;
}

.rectangle-purchase {
  display: -ms-grid;
  display: grid;
  background: #f2f2f2;
  border-radius: 12px;
  margin: 0 12px 0 13px;
}

.backbag-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.backbag {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 100%;
  max-width: 100ch;
  border-radius: 0.8rem;
  margin: 1.5rem 0rem 0rem 1.5rem;
}

.name-bag {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 0.75rem;
  line-height: 0.8rem;
  color: #4e5150;
  margin: 1.9rem 0rem 0.7rem 0rem;
}

.price1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 2;
  grid-row: 2;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f2994a;
  margin: -0.2rem 0rem 0.7rem 0rem;
}

.old-price1 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 10px;
  line-height: 12px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin: 0rem 0rem 0rem 0.7rem;
}

/* -- quantity box -- */
#myform {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: center;
  padding: 0.8rem 0 0 0rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: 1px solid #828282;
  background-color: #f2f2f2;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  width: 138px;
  height: 55px;
  margin: 1rem 0 0 0;
}

.qty {
  border-radius: 4px;
  width: 50px;
  height: 25px;
  text-align: center;
  border: none;
  font-size: 1.1rem;
  color: #333333;
  font-weight: 600;
  background-color: #f2f2f2;
}

input.qtyplus {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5rem;
}

input.qtyminus {
  font-weight: 600;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #828282;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: 1.5rem;
}

.shoes-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.shoes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 100%;
  max-width: 100ch;
  border-radius: 0.8rem;
  margin: 1.5rem 0rem 1.7rem 1.5rem;
}

.name-shoes {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 0.75rem;
  line-height: 0.8rem;
  color: #4e5150;
  margin: 1.9rem 0rem 0.7rem 0rem;
}

.price2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 2;
  grid-row: 2;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f2994a;
  margin: -0.2rem 0rem 0.7rem 0rem;
}

.old-price2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 10px;
  line-height: 12px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin: 0rem 0rem 6.5rem 0.7rem;
}

/* -- quantity box -- */
#myform2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: center;
  padding: 0.8rem 0 0 0rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: 1px solid #828282;
  background-color: #f2f2f2;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  width: 138px;
  height: 55px;
  margin: -4.5rem 0 0 0;
}

.qty {
  border-radius: 4px;
  width: 50px;
  height: 25px;
  text-align: center;
  border: none;
  font-size: 1.1rem;
  color: #333333;
  font-weight: 600;
  background-color: #f2f2f2;
}

input.qtyplus {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5rem;
}

input.qtyminus {
  font-weight: 600;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #828282;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: 1.5rem;
}

.hr1 {
  margin: 3rem 1.5rem 0.5rem 1.5rem;
}

.hr2 {
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.shipping {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin: 0rem 1.5rem 0rem 1.5rem;
}

span {
  float: right;
}

.total {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

/* forms */
.contact-info,
.shipping-adress {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin: 3rem 0 0rem 0.75rem;
}

.forms i {
  position: absolute;
}

.forms {
  width: 100%;
  margin: 0 0.75rem 0 0;
}

.icon {
  padding: 8px;
  margin-left: 0.8rem;
  color: #828282;
}

.input-container {
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #4f4f4f;
  -webkit-transform: rotate(-0.02deg);
          transform: rotate(-0.02deg);
  margin: 1rem 0 0.2rem 0.75rem;
}

.save-info {
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #4f4f4f;
  -webkit-transform: rotate(-0.02deg);
          transform: rotate(-0.02deg);
  margin: 1rem 0 0.2rem 0.75rem;
}

.input-form {
  display: inline-block;
  border: 1px solid #828282;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 349.25px;
  height: 40.56px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  margin: 0rem 0.75rem 0rem 0.75rem;
  padding-left: 2.4rem;
}

.postal-code {
  display: inline-block;
  border: 1px solid #828282;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 162.98px;
  height: 40.56px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  margin: 0rem 0.75rem 0rem 0.75rem;
  padding-left: 2.4rem;
}

select.input-container {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}

.country-and-postal-box {
  display: inline-block;
  width: 47.5%;
}

.country-and-postal-box .cf-medium {
  width: 93%;
}

#country-select {
  line-height: 15px;
  color: #828282;
  display: inline-block;
  border: 1px solid #828282;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 152px;
  height: 40.56px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 0.75rem;
  padding-left: 2.4rem;
}

.country {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #4f4f4f;
}

.checkbox {
  margin: 1rem -0.5rem 0 0.75rem;
  border: 1px solid #828282;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.save-info {
  font-size: 10px;
  line-height: 12px;
  color: #4f4f4f;
}

input[type="button"].continue {
  background-color: #f2994a;
  border: none;
  color: white;
  font-weight: 600;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
  margin: 1rem 0.75rem 4.5rem 14.8rem;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.55rem;
  line-height: 1.1rem;
  color: #a9a9a9;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8rem;
}

footer a:link {
  text-decoration: none;
  color: #a9a9a9;
}

footer a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */