/* fonts */
/* colors */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 100vh;
  padding: 1rem 1rem;
  margin: 0;
}

img {
  display: block;
}

p,
span,
h1,
h3 {
  color: #333333;
}

.wrap {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #4e5150;
  margin-bottom: 1rem;
}

.purchase__box {
  background: #f2f2f2;
  border-radius: 0.7rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.purchase__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.item__image {
  width: 8rem;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}

.item__image img {
  width: 100%;
}

.item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.item__name {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #4e5150;
}

.item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.75rem;
  margin-top: -.6rem;
}

.item__price--sale {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #f2994a;
}

.item__price p {
  color: #4e5150;
  text-decoration: line-through;
  margin: .1rem 0 0 0;
}

.incrementor__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #828282;
  padding: 1rem 0rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.item__quantity {
  width: 30px;
  text-align: center;
  color: #333333;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 1.5rem;
}

.icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0e0e0;
  border-radius: 3px;
  background-color: #e0e0e0;
  font-size: .3rem;
  padding: 0;
  color: #828282;
  border: none;
}

.purchase__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.shipping__price,
.total__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 0;
  border-top: 1px solid #828282;
}

.purchase__price p,
.total__price p {
  font-size: 0.875rem;
  margin-left: auto;
  margin-top: 0.15rem;
  color: #4e5150;
}

.contact__group h3,
.address__group h3 {
  margin-bottom: 1rem;
}

.contact__group {
  margin-bottom: 3rem;
}

.input__form {
  position: relative;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: 0.8rem 0.2rem 0.7rem 2.8rem;
  width: 100%;
  font-size: .9rem;
}

.form__part {
  position: relative;
  margin-bottom: 1rem;
}

.form__icon {
  position: absolute;
  top: 1.9rem;
  left: 0.75rem;
  color: #828282;
}

.material-icons {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
}

.shipping_address {
  margin-top: 3rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

.wrap__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country__part {
  margin-right: 0.5rem;
}

.country__part,
.postal__part {
  width: 50%;
}

.save__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.save__part label {
  margin-bottom: 0;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.continue {
  text-align: right;
  margin-bottom: 3rem;
}

.continue__button {
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #f2994a;
  padding: 1rem 2.5rem;
  border: 0;
}

footer {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: #828282;
  font-size: 0.75rem;
}

footer a:hover {
  color: #4e5150;
}

@media screen and (min-width: 760px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 5rem;
    max-width: 500px;
  }
  .purchase__box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -6rem;
    max-width: 400px;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
  }
  footer {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1375px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-left: 15rem;
  }
  form {
    margin-left: 15rem;
    margin-right: 7rem;
  }
  .purchase__box {
    margin-right: 15rem;
    max-width: 400px;
  }
  footer {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */