/* fonts */
$font: "Montserrat", sans-serif;

/* colors */
$background-gray: #f2f2f2;
$gray-dark: #4e5150;
$gray1: #333333;
$gray2-email: #4f4f4f;
$gray3-border-placeholder-icons: #828282;
$gray4-line: #bdbdbd;
$gray5-background-icons: #e0e0e0;
$gray6-background-rectangle: #f2f2f2;
$orange: #f2994a;
$white: #ffffff;
$grayFooter: #a9a9a9;

/* base styles */
*,
*::before,
*::after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.clearfix {
 zoom: 1;
}

@viewport {
 width: device-width;
 zoom: 1;
}

@-ms-viewport {
 width: device-width;
}

.row {
 position: relative;
}

.row::after {
 content: "";
 display: block;
 clear: both;
}

body {
 font-family: $font;
 background-color: $white;
}

/* mobile */
.container {
 display: grid;
 margin: 0 auto;
 grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.rectangle-purchase {
 background: $gray6-background-rectangle;
 border-radius: 12px;
}
/* -- quantity box -- */

input,
textarea {
 border: 1px solid #eeeeee;
 box-sizing: border-box;
 margin: 0;
 outline: none;
 padding: 10px;
}

input[type="button"] {
 -webkit-appearance: button;
 cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
}

.input-group {
 clear: both;
 margin: 15px 0;
 position: relative;
}

.input-group input[type="button"] {
 background-color: #eeeeee;
 min-width: 38px;
 width: auto;
 transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
 font-weight: bold;
 height: 38px;
 padding: 0;
 width: 38px;
 position: relative;
}

.input-group .quantity-field {
 position: relative;
 height: 38px;
 left: -6px;
 text-align: center;
 width: 62px;
 display: inline-block;
 font-size: 13px;
 margin: 0 0 5px;
 resize: vertical;
}

.button-plus {
 left: -13px;
}

input[type="number"] {
 -moz-appearance: textfield;
 -webkit-appearance: none;
}

/* forms */

input[type="text"],
select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
div {
 padding: 20px;
}
select {
 width: 100%;
 padding: 16px 20px;
 border: none;
 border-radius: 4px;
}
input[type="button"] {
 background-color: $orange;
 border: none;
 color: white;
 font-weight: 600;
 padding: 16px 32px;
 text-decoration: none;
 cursor: pointer;
 border-radius: 12px;
}

footer {
 font-family: $font;
 font-style: normal;
 font-weight: 600;
 font-size: 0.55rem;
 line-height: 1.1rem;
 color: $grayFooter;
 text-align: center;
 align-items: center;
 margin-bottom: 0.8rem;
 a:link {
  text-decoration: none;
  color: $grayFooter;
 }
 a {
  color: inherit;
 }
}
